---
import Comment from "./Comment";

const { userByNickname } = Astro.props;
---

<div>
  {
    userByNickname.comments.map((comment) => {
      if (comment.parentCommentId) return null;
      return (
        <Comment
          key={comment.id}
          commentedBy={{
            firstName: comment.author.firstName,
            lastName: comment.author.lastName,
            nickname: comment.author.nickname,
          }}
          lastUpdated={
            comment.updatedAt ? comment.updatedAt : comment.createdAt
          }
          body={comment.body}
          id={comment.id}
          linkId={comment.linkId}
          link={comment.link}
          showRelatedLinkInfo={true}
        >
          <div>
            {comment.childComments &&
              comment.childComments.map((child) => (
                <Comment
                  isChildComment={true}
                  key={child.id}
                  commentedBy={{
                    firstName: child.author.firstName,
                    lastName: child.author.lastName,
                    nickname: child.author.nickname,
                  }}
                  lastUpdated={
                    child.updatedAt ? child.updatedAt : child.createdAt
                  }
                  body={child.body}
                  linkId={comment.linkId}
                />
              ))}
          </div>
        </Comment>
      );
    })
  }
</div>
